.tile {
  display: inline-flex;
  background-color: #88E789;
}

.grass {
  background: url('/tiles/ground_sprite.png') 0 0;
  background-color: #88E789;
}

.rock {
  background: url('/tiles/ground_sprite2.png') -2px -64px;
  background-color: #88E789;
}


.tree {
  background: url('/tiles/ground_sprite3.png') -223px -200px;
  background-color: #88E789;
}
